.env

# API
node_modules/

#macOS
.DS_Store

.idea/

ClaretAPI.exe
ClaretAPI

ClaretScraper.exe
ClaretScraper

postgres-data

ClaretBot.exe
ClaretBot

RateMyProfScraper
RateMyProfScraper.exe
rmp.json
output*.txt
API/API.exe
