body {
    font-family: "Montserrat";
}
h1 {
    color: #fff;
}
p {
    margin-bottom: 0;
}
td.fc-day-today {
    background-color: unset !important;
}
table.fc-col-header {
    background-color: #212529 !important;
}
.fc-time-grid .fc-slats td {
    height: 1em;
}