body {
    font-family: "Montserrat";
}
h1, a.fc-col-header-cell-cushion {
    color: #A8415B;
}
.form-check-input:checked, select {
    background-color: #A8415B;
    border-color: #A8415B;
}
.accordion-button[aria-expanded="true"] {
    background-color: #863449;
    color: #fff;
    border: 0;
}
.accordion-button::after {
    filter: brightness(0) invert(1)
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #A8415B;
    --bs-btn-border-color: #A8415B;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #A8415B;
    --bs-btn-hover-border-color: #973A52;
    --bs-btn-focus-shadow-rgb: unset;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #8F374D;
    --bs-btn-active-border-color: #973A52;
    --bs-btn-active-shadow: unset;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #622635;
    --bs-btn-disabled-border-color: #6D2A3B
}
.btn-outline-primary {
    --bs-btn-color: #fff;
    --bs-btn-border-color: #A8415B;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #A8415B;
    --bs-btn-hover-border-color: #973A52;
    --bs-btn-focus-shadow-rgb: unset;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #8F374D;
    --bs-btn-active-border-color: #973A52;
    --bs-btn-active-shadow: unset;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #622635;
    --bs-btn-disabled-border-color: #6D2A3B
}
.accordion-button:focus, .accordion-button:active {
    box-shadow: unset;
}
.accordion-button::after > * {
    color: #fff;
}
body, input.form-control, select, div.accordion-collapse, button.accordion-button[aria-expanded="false"], table.fc-col-header, div.modal-header, div.modal-footer, div.modal-body {
    background-color: #222 !important;
}
p {
    margin-bottom: 0;
}
td.fc-day-today {
    background-color: unset !important;
}
.fc-time-grid .fc-slats td {
    height: 1em;
}
.modal-header {
    border-bottom: 0 none;
}
.modal-footer {
    border-top: 0 none;
}
input:focus, select:focus {
    border-color: #A8415B !important;
    box-shadow: 0 0 0 0.25rem rgba(176.8, 44.8, 78.1, 0.325) !important;
}