body {
    font-family: "Sen";
}
h1 {
    color: #6ee7b7;
}
p {
    margin-bottom: 0;
}
td.fc-day-today {
    background-color: unset !important;
}
table.fc-col-header {
    background-color: #212529 !important;
}